// 默认蓝色
$default-blue: #108ee9;

// 选中蓝
$select-blue: rgb(233, 240, 248);

// 深蓝色
$primary-blue: rgb(70, 116, 167);

$primary-hover-blue: rgba(70, 116, 167, 0.8);

$dark-primary-blue: rgb(65, 107, 154);

// 浅蓝色
$light-blue: #ecf6fd;

// 默认绿色
$default-green: #389e0d;

// 选中绿
$select-green: #e6fffb;

// 默认红色
$default-red: #f04134;

// 灰色
$default-gray: rgb(233, 233, 233);

// 浅灰色
$light-gray: rgb(250, 250, 250);

// 橙色
$default-orange: #ffc53d;

// 背景色
$background-color: rgb(248, 248, 248);

// 默认字体颜色
$font-color: rgba(0, 0, 0, 0.65);

// 淡色字体颜色
$light-font-color: rgba(0, 0, 0, 0.45);

// 白色字体
$white-font-color: rgba(255, 255, 255, 0.85);

// 树背景色
$tree-background-color: rgb(252, 252, 252);

// 失效色
$disable-color: #e8e8e8;

// 顶菜单背景色
$header-nav-background: rgb(70, 116, 167);
