@import './color.scss';

body {
  a {
    color: $primary-blue;
    &:hover {
      color: $primary-hover-blue;
    }
  }
}

// 必须在全局生效
:global {
  .ant-confirm {
    .ant-modal-body {
      padding: 24px;

      .ant-btn {
        height: 28px;
      }
    }
  }

  .ant-modal-header {
    padding: 16px;
  }
  .ant-modal-body {
    padding: 0;
  }

  .ant-form-item {
    margin-bottom: 6px;
  }
}
